:host {
  background: #f4f5f9;
  color: #333333;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  height: 100%;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.close {
  position: absolute;
  right: 0;
}
ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 50px;
  list-style: none;
}
