.a {
  height: 100%;
  background-image: url('../../assets/imgs/500-Rule-Night-Photography-Header.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
